.outer-container {
    background-color: #e8ddd1;
    display:flex;
}

.form-container {
    width:40%;
  max-width: 700px;
  margin: 50px auto;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Form heading */
.form-heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.bullet-point {
  color: #0056b3; /* Blue bullet point */
}

/* Form styles */
.contact-form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 20px;
}

.form-group {
  flex: 1;
  margin-right: 30px; /* Adjust this value to control the space */
  text-align: left;
}

.form-group:last-child {
  margin-right: 0;
}

.form-group label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  background-color: transparent;
  transition: border-color 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
  border-bottom: 2px solid #0056b3; /* Blue underline when focused */
}

textarea {
  resize: none;
}

/* Submit button */
.form-submit-button {
  background-color: #0056b3; /* Blue button */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.form-submit-button:hover {
  background-color: #003f8a; /* Darker blue on hover */
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
  }

  .form-group {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
