.header {
    display: flex;
    justify-content: space-between;
    height:100px;
    background-color: white;
}

.logo {
    display:flex;
    padding-left:50px;
    align-items:center;

}

.bullet {
    width:15px;
    height:15px;
    background-color:blue;
}

.navigation {
    display:flex;
    justify-content:flex-end;
    width: 50%;
    align-items:center;
    padding-right:50px;
}

.logo .name {
    font-weight: bold;
    font-size:25px;
    font-family:fangsong;
    padding-left:10px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    font-family:fangsong;
}

.nav-links li a {
    text-decoration: none;
    color: black;
}
