.main-content {
    display: flex;
    padding: 50px;
    height:60vh;
    
    justify-content:center;
    /*background-color:;
    background-color: white;*/
    background: linear-gradient(to right, rgb(230,218,206) 30%, white 30%);
}

.center-section {
    width: 70%;
    display:flex;
}

.profile-card {
    width: 30%;
    background-color: rgba(244,236,230,1);
    text-align: center;
}

.profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding-top:20px;
}

.linkedin-icon {
    width: 25px;
    height: 25px;
}

.github-icon {
    width: 70px;
    height: 25px;
}

.role {
    color: gray;
    margin-bottom: 20px;
}

.social-links {
    padding:10px;
    background-color:white;
}

.social-links a {
    text-decoration: none;
    font-size: 24px;
}

.bio-section {
    display:flex;
    flex-direction:column;
    width: 60%;
    padding-left: 10px;
    justify-content:space-between;
}

.bio-section h1 {
    font-size: 48px;
    margin: 0;
}

.bio-section p {
    margin-top: 10px;
}

.buttons {
    margin-top: 20px;
}

.resume-btn, .projects-btn {
    padding: 10px 20px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    border-radius:20px;
    width:200px;
    height:40px;
    font-size:17px;
}

.resume-btn {
    background-color: blue;
    color: white;
}

.projects-btn {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.bio-text {
    text-align:left;
}
