/* Container for the entire section */
.projects-container {
  background-color: #e8ddd1;
  padding: 50px;
  font-family: Arial, sans-serif;
  text-align: -webkit-center;
}

.vertical-bar {
  width: 5px;
  height: 30px;
  margin-top:10%;
  background-color: #0A58ED; /* Blue color */
  margin-right: 20px; /* Spacing between the bar and content */
}

.project-details {
    display:flex;
}

/* Header section */
.projects-header {
  text-align: center;
  margin-bottom: 40px;
}

.projects-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000;
}

.bullet-point {
  color: #0056b3; /* Blue bullet point */
}

.projects-description {
  font-size: 18px;
  color: #6b6b6b;
  max-width: 700px;
  margin: 0 auto;
  text-align:justify;
}

/* Project section */
.project {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  width:50%;
}

/* Left side project info */
.project-info {
  flex: 1;  
}

.project-name {
  color: #0056b3;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.project-role {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.project-description {
  font-size: 16px;
  color: #6b6b6b;
  text-align:justify;
  padding: 20px;
  line-height: 1.5em;
}

/* Right side image */
.project-image {
  width: 40%;
  display: flex;
  justify-content: center;
}

.project-image img {
  width: 100%;
  height: auto;
  object-fit: fill;
}

.project-content {
    text-align:left;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .project {
    flex-direction: column;
    text-align: center;
  }

  .project-info {
    padding-right: 0;
    margin-bottom: 20px;
  }

  .project-image {
    width: 100%;
  }
}
