.resume-container {
  padding: 20px;
  background-color: #f9f9f9;
}

.resume-outer {
  max-width: 800px;
  margin: 0 auto;
}

.resume-header {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 20px;
}

.download-cv-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  float:right;
}

.tile-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Creates spacing between tiles */
}

.tile {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-left: 4px solid #4caf50;
  transition: transform 0.2s;
}

.tile:hover {
  transform: translateY(-5px); /* Add a hover effect to lift the tile slightly */
}

.tile-header {
  margin-bottom: 15px;
}

.tile-header h3 {
  font-size: 18px;
  color: #333;
  margin: 0;
}

.tile-position, .tile-company, .tile-location, .tile-wes, .tile-grade, .tile-awards {
  font-size: 14px;
  color: #777;
}

.tile-description {
  padding-top: 10px;
}

.tile-description h4 {
  margin-bottom: 5px;
  font-size: 16px;
  color: #4caf50;
}

.tile-description ul {
  padding-left: 20px;
}

.tile-description li {
  font-size: 14px;
  color: #333;
  line-height: 1.6;
}
