/* General Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.resume-container {
  display:flex;
  justify-content:center;
  padding: 20px;
  background-color: #e8ddd1; /* Background similar to the beige tone */
}

.resume-outer {
    max-width: 1200px;
}

/* Resume Title Section */
.resume-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.download-cv {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 20px 0;
  float: right;
  width:fit-content;
}

.resume-header {
  font-size: 35px;
  font-weight: bold;
}

.bullet-point {
  color: #0056b3; /* Blue bullet point */
}

.download-cv {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.download-cv:hover {
  background-color: #0056b3;
}

/* Experience Section */
.experience-section {
  padding: 20px 0;
}

.sub-header {
  text-align:left;
  font-size: 25px;
  margin-bottom: 20px;
}

.job-card {
    display:flex;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  justify-content:space-around;
  align-items:center;
}
/*
.company-jd {
    text-align:justify;
    width:60%;
}*/

.job-duration {
  color: #0056b3; /* Blue text */
  font-weight: bold;
}

.job-position {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
}

.job-company {
  font-size: 18px;
  color: blue;
  margin-bottom: 10px;
  font-weight: bold;
}

.job-location {
  font-size: 18px;
  
  margin-bottom: 10px;
}

.job-description {
  font-size: 16px;
  line-height: 1.5em;
}

/* Education Section */
.education-section {
  padding: 20px 0;
}

.education-header {
  font-size: 25px;
  font-weight: bold;
}


.company-details {
  flex: 1;
  padding-right: 20px;
  border-right: 2px solid rgba(0, 0, 0, 0.1); /* Subtle color and thicker line */
  border-image: linear-gradient(to bottom, #ff7e5f, #feb47b) 1; /* Gradient effect */
}

.company-jd {
  flex: 2;
  padding-left: 20px;
  text-align:justify;
}